files:
  "/usr/share/tomcat8/lib/elasticache-java-cluster-client-1.1.1.jar" :
    mode: "000744"
    owner: root
    group: root
    source:  http://central.maven.org/maven2/com/amazonaws/elasticache-java-cluster-client/1.1.1/elasticache-java-cluster-client-1.1.1.jar
  "/usr/share/tomcat8/lib/couchbase-client-1.4.11.jar" :
    mode: "000744"
    owner: root
    group: root
    source: http://central.maven.org/maven2/com/couchbase/client/couchbase-client/1.4.11/couchbase-client-1.4.11.jar
  "/usr/share/tomcat8/lib/memcached-session-manager-1.9.3.jar" :
    mode: "000744"
    owner: root
    group: root
    source: http://central.maven.org/maven2/de/javakaffee/msm/memcached-session-manager/1.9.3/memcached-session-manager-1.9.3.jar
  "/usr/share/tomcat8/lib/memcached-session-manager-tc8-1.9.3.jar" :
    mode: "000744"
    owner: root
    group: root
    source: http://central.maven.org/maven2/de/javakaffee/msm/memcached-session-manager-tc8/1.9.3/memcached-session-manager-tc8-1.9.3.jar
  "/usr/share/tomcat8/lib/mysql-connector-java-5.1.38.jar" :
    mode: "000744"
    owner: root
    group: root
    source: http://central.maven.org/maven2/mysql/mysql-connector-java/5.1.38/mysql-connector-java-5.1.38.jar
    